<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>
      <${input.title}/>
    </title>
  </head>
  <body>
    <header>
      <img.logo src="./ebay-bucks-logo.svg" alt="bucks logo"/>
      <h1>
        <${input.title}/>
      </h1>
      <nav.menu>
        <a href="/">Home</a>
        <a href="/rocket-activate">Rocket Activate</a>
        <a href="/rocket-activated">Rocket Activated</a>
      </nav>
    </header>
    <div.content>
      <${input.content}/>
    </div>
  </body>
</html>
