@font-face {
  font-family: 'MarketSans';
  src: url('https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-Regular-WebS.woff2');
}

:root {
  --ebay-purple: #533FAE;
  --ebay-red: #FF5151;
  --ebay-blue: #3665F3;
  --ebay-light-blue: #4295FF;
  --ebay-yellow: #F5DD0C;
  --ebay-green: #ACCF02;
  --duration: 250ms;
  --delay: 135ms;
  --ebay-standard-ease: cubic-bezier(0.4, 0.0, 0.3, 1);
  --ebay-ease-in-out: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  --ebay-bounce-ease: cubic-bezier(0.175, 0.885, 0.22, 1.575);
}

body {
  font-family: 'MarketSans', serif;
  background: #eee;
  padding: 0;
  margin: 0;
  color: #333;
}

a {
  color: #26a;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

header {
  padding: 2em;
  border-bottom: 1px solid #ccc;
  background: #fff;
  text-align: center;
}

nav.menu a {
  display: inline-block;
  padding: 0.5em 1em;
}

img.logo {
  width: 260px;
  height: 88px;
  margin-bottom: 1em;
}

.content {
  padding: 1em 2em;
  margin: auto;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  30%, 100% {
    opacity: 1;
  }
}

@keyframes float {
  from {
    transform: translateY(35px);
  }
  to {
    transform: translateY(0px);
  }
}


