<site-layout>
  <@content>
    <section>
      <h2>Rocket Activated</h2>
      <p>
        Sample Marko component with an animated rocket
      </p>
      <p/>
    </section>
    <section>
      <rocket-activated/>
    </section>
  </@content>
</site-layout>
